<!DOCTYPE html>

<html>
    <head>
        <title>Boogle</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/Boogle/css/style.css">
    </head>
    <body>
        <div class="layout">
            <img class="img-boogle" src="https://storage.googleapis.com/smartninja/boogle-1614873832.jpeg" height="50" width="160">
            <p class="text1">One account. All of Boogle.</p>
            <p class="text2">Sign in with your Boogle account</p>
            <div class="box">
                <img class="img-person" src="static/Boogle/img/icon.png" height="160" width="185">
                <input class="input" type=text placeholder="Enter your e-mail">
                <button class="button1"><p class="next">Next</p></button>
                <div class="help">
                    <a href="#">Need help?</a>
                </div>
            </div>
            <a href="#">Create account</a>
            <p class="text3">One Boogle Account for everything Boogle</p>
            <img src="static/Boogle/img/GoogleIcons.png">

        </div>
        <div class="navbar">
            <div>
                <a class="nblinks" href="#">About Boogle</a>
                <a class="nblinks" href="#">Privacy</a>
                <a class="nblinks" href="#">Terms</a>
                <a class="nblinks" href="#">Help</a>
            </div>
            <img class="img-lang" src="static/Boogle/img/language.png">
        </div>
    </body>
</html>